

  a {
    color: rgb(89, 1, 124);
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    border : 5px double black;
    padding : 10px;
    background-color : rgb(207, 209, 171);
    border-radius: 10px;
 
    appearance: button;
    
    
 }
 a:hover {
    background-color: rgb(114, 230, 181);
 } 